#appointments-page .appointments-container {
  border: 1px solid rgba(120,170,195,0.5);
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  width: 450px;
  height: calc(100% - 50px);
  border-radius: 8px;
}
