:root {
  --other-sent-background-color: #627FFE;
  --self-sent-background-color: #78AAC3;
}

.message-container {
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

.message-container.self {
  background-color: var(--self-sent-background-color);
  border-top-right-radius: 0;
}

.message-container.other {
  background-color: var(--other-sent-background-color);
  border-top-left-radius: 0;
}

.ant-modal > div {
  height: 100%;
}
