*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
}

:root {
  --blue-1: #78AAC3; /* background, subtle areas */
  --blue-2: #C4DEEE; /* lighter background, secondary areas */
  --blue-3: #97C8D6; /* buttons, accents */
  --orange-1: #EEAB73; /* alerts, emphasis */
  --yellow: #F3CD86; /* success text, icons */
  --coral: #F5A281; /* error text, warnings */
}

.page {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 90vh;
  z-index: 1;
}
